
.card {
  margin-bottom: 16px;
}

.btnBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.num {
  font-size: 24px;
}

.label {
  color: #999999;
  font-size: 14px;
}

.section_to_print {
    display: none;

    position: fixed;
    /*display: flex;*/
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 100;
    flex-direction: column;
    background-color: #fff;
}

.section_to_print > img {
    width: 500px;
    height: 500px;
}

.section_to_print > p {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 15px;
}

@media print {
    body * {
        visibility: hidden;
    }

    .section_to_print {
        display: flex;
    }

    .section_to_print * {
        visibility: visible;
    }
}
